### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/images/
/.idea/

### Ignore all images by default ###
/images/

### But include specific PNG images ###
!/images/gumsAntiAliasingPicture.png
!/images/gumPicture.png
!/images/antiAliasingPicture2.png
!/images/buttlePicture.png
!/images/buttleTrayAdaptivePicture.png
!/images/buttleTrayPicture.png
!/images/shadowTrianglesSphere.png
!/images/shadowSphereTriangleSpot1.png
!/images/shadowSphereTriangleMove2.png